.wcm_grid_cell_text_with_image{width:77%;margin:0 0 10px 5px}
.wcm_grid_cell_text_with_image p{line-height:15px}
.rr_content_promotions_other h4{font-size:15px;line-height:17px}
.wcm_grid_cell_text .wcm_grid_cell_text_with_image p{line-height:15px}
.wcm_grid_container_cols_2 .wcm_grid_cell_container{width:48.5%;margin-left:10px}
.wcm_grid_cell_image_left{width:21%}
.rr_content_promotions_featured .wcm_grid_cell_text_with_image{margin-left:0;width:62%}
.rr_content_promotions_featured .wcm_grid_cell_image_left{width:34%}